<% const basePath = typeof base !== 'undefined' ? base : '' %>
<div class="footer">
  <p>
    Contacto:
    <a href="https://www.instagram.com/morfemalibreria" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-instagram"></i> Instagram
    </a>
  </p>
</div>
<script src="<%= basePath %>navbar.js"></script>
