<!doctype html>
<html lang="es-AR">
  <head>
    <%- include('templates/head', { title, headExtra, base }) %>
  </head>
  <body>
    <div id="navbar" data-current="<%= current || '' %>"></div>
    <%- body %>
    <%- include('templates/footer', { base }) %>
  </body>
</html>
