<!doctype html>
<html lang="es-AR">
  <head>
    <meta charset="UTF-8" />
    <script src="/load-gtm.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title><%= title %></title>
    <%- headExtra || '' %>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="preload" href="/placeholder.png" as="image" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="navbar" data-current="<%= current || '' %>"></div>
    <%- body %>
    <script src="/navbar.js"></script>
  </body>
</html>
